/.*
/nbproject
/vendor
/node_modules
composer.phar
composer.lock
Thumbs.db
storage/app/rate_uploads
storage/app/uploads
public/css
public/js
public/images/vendor
public/mix-manifest.json
php.ini
Dockerfile
