// Colours
$bright-green:  #66CC00;
$orange:        #f60;
$dark-blue:     #0000FF;
$navy:          #2E3C5E;
$red:           #CC0000;
$dark-red:      #8A0808;

// Tables
$table-border-color:        #DDD;

// Fonts
$font-family-sans-serif:    "Roboto",Arial,sans-serif;
$headings-color:            #000;