// Colours
$bright-green:  #66CC00;
$orange:        #f60;
$dark-blue:     #0000FF;
$navy:          #2E3C5E;
$red:           #CC0000;
$dark-red:      #8A0808;
//$gray-800:      #800;
//$gray-400:      #400;
//$gray-300:      #300;
//$gray-500:      #500;
//$gray-600:      #600;
//$gray-700:      #700;
//$gray-200:      #200;
//$black:         #000;
//$white:         #fff;
//$green:         #ccc;
//$blue:          #ccc;
//$yellow:        #ccc;

// Tables
$table-border-color:        #DDD;

// Fonts
$font-family-sans-serif:    "Roboto",Arial,sans-serif;
$headings-color:            #000;